<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand"
     routerLink="/">Tr<i class="fa fa-font"></i>in r<i class="fa fa-cog fa-spin"></i>utes
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="btn nav-item text-white nav-link mr-2"
         (click)="openUserModal(newUser)">New user
        <i class="fa fa-user-plus"></i>
      </a>
      <a class="btn nav-item text-white nav-link mr-2"
         (click)="openTaskModal(newTask)">New task
        <i class="fa fa-tag"></i>
      </a>
      <a class="nav-item text-white nav-link mr-2"
         routerLink="users/table">Users table <i class="fa fa-users"></i>
      </a>
      <a class="nav-item text-white nav-link mr-2"
         routerLink="tasks/table">Tasks table <i class="fa fa-tasks"></i>
      </a>
      <a class="nav-item text-white nav-link mr-2"
         routerLink="trains/table">Train routes <i class="fa fa-train"></i>
      </a>
    </div>
  </div>
  <button *ngIf="authService.isAuthenticated()"
          (click)="authService.logOut()"
          class="btn btn-primary">
    Log out <i class="fa fa-sign-out"></i>
  </button>
</nav>


<ng-template #newUser>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New user</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalWindowService.closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm" novalidate>
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text"
               class="form-control"
               id="nameInput"
               name="userName"
               formControlName="userName"
               [(ngModel)]="user.name">
        <div *ngIf="_userName.invalid && (_userName.touched || _userName.dirty)" class="alert alert-danger">
          <p *ngIf="_userName.errors?.required">This field is required</p>
          <p *ngIf="_userName.errors?.minlength">The min length isn't valid</p>
          <p *ngIf="_userName.errors?.maxlength">The max length isn't valid</p>
          <p *ngIf="_userName.errors?.pattern">The word had invalid symbols</p>
        </div>
      </div>
      <div class="form-group">
        <label for="surnameInput">Surname</label>
        <input type="text"
               class="form-control"
               id="surnameInput"
               name="userSurname"
               formControlName="userSurname"
               [(ngModel)]="user.surname">
        <div *ngIf="_userSurname.invalid && (_userSurname.touched || _userSurname.dirty)" class="alert alert-danger">
          <p *ngIf="_userSurname.errors?.required">This field is required</p>
          <p *ngIf="_userSurname.errors?.minlength">The min length isn't valid</p>
          <p *ngIf="_userSurname.errors?.maxlength">The max length isn't valid</p>
          <p *ngIf="_userSurname.errors?.pattern">The word had invalid symbols</p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email"
               class="form-control"
               id="inputEmail"
               name="userEmail"
               formControlName="email"
               [(ngModel)]="user.email">
        <div *ngIf="_email.invalid && (_email.touched || _email.dirty)" class="alert alert-danger">
          <p *ngIf="_email.errors?.required">This field is required</p>
          <p *ngIf="_email.errors?.maxlength">The max length isn't valid</p>
          <p *ngIf="_email.errors?.pattern">The word had invalid symbols</p>
        </div>
      </div>
      <div class="form-group mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selectRole">Role</label>
          </div>
          <select class="custom-select"
                  id="selectRole"
                  name="userRole"
                  formControlName="role"
                  [(ngModel)]="userRole">
            <option *ngFor="let role of roles" [value]="role.idRole">{{role.role}}</option>
          </select>
        </div>
        <div *ngIf="_role.invalid && (_role.touched || _role.dirty)" class="alert alert-danger">
          <p *ngIf="_role.errors?.required">This field is required</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-secondary"
      (click)="modalWindowService.closeModal()">
      Close
    </button>
    <button
      class="btn btn-success"
      [disabled]="userForm.invalid"
      (click)="addUser(user,userRole)">
      Add user
    </button>
  </div>
</ng-template>


<ng-template #newTask>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New task</h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalWindowService.closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="taskForm" novalidate>
      <div class="form-group">
        <label for="taskName">
          <b>Task name</b>
        </label>
        <input type="text"
               class="form-control"
               id="taskName"
               name="taskName"
               formControlName="taskName"
               [(ngModel)]="task.taskName">
        <div *ngIf="_taskName.invalid && (_taskName.touched || _taskName.dirty)" class="alert alert-danger">
          <p *ngIf="_taskName.errors?.required">This field is required</p>
          <p *ngIf="_taskName.errors?.minlength">The min length isn't valid</p>
          <p *ngIf="_taskName.errors?.maxlength">The max length isn't valid</p>
          <p *ngIf="_taskName.errors?.pattern">The word had invalid symbols</p>
        </div>
      </div>
      <p>
        <b>Experts for task</b>
      </p>
      <div *ngIf="expertsNumber > 0">
        <ol>
          <li *ngFor="let expert of experts;let i = index;">
            <div class="form-check">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [value]="expert.idUser"
                  (change)="valueChanged(selectedExperts,$event.target.checked,$event.target.value,i)">
                {{expert.surname}} {{expert.name}}
              </label>
            </div>
          </li>
        </ol>
      </div>
      <p *ngIf="!experts.length">No experts...</p>
      <div class="form-group mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selectStatus">Status</label>
          </div>
          <select class="custom-select"
                  id="selectStatus"
                  name="selectStatus"
                  formControlName="status"
                  [(ngModel)]="task.status">
            <option *ngFor="let status of statuses" [value]="status.idStatus">{{status.status}}</option>
          </select>
        </div>
        <div *ngIf="_status.invalid && (_status.touched || _status.dirty)" class="alert alert-danger">
          <p *ngIf="_status.errors?.required">This field is required</p>
        </div>
      </div>
      <div class="form-group mt-5">
        <p>
          <b>Alternatives</b>
        </p>
        <div *ngIf="tripRecords.length">
          <ol class="no-marker">
            <li *ngFor="let tripRecord of tripRecords;let i = index">
              <div class="form-check">
                <label class="form-check-label"
                       [tooltip]="tripRecord.trainModelObj.model"
                       placement="auto">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="tripRecord.idTrip"
                    (change)="valueChanged(selectedTrips,$event.target.checked,$event.target.value,i)">
                  {{tripRecord.departureCountryObj.country + '/' + tripRecord.departureCityObj.city + '/' + tripRecord.departureStationObj.station}}
                  <b>&#x21D2;</b>
                  {{tripRecord.arrivalCountryObj.country + '/' + tripRecord.arrivalCityObj.city + '/' + tripRecord.arrivalStationObj.station}}
                </label>
              </div>
            </li>
          </ol>
          <button class="btn btn-primary" (click)="loadMoreTrips()">Load more trips</button>
        </div>
      </div>
      <p *ngIf="!tripRecords.length">
        No trips...
      </p>
      <div class="form-group mt-5">
        <label for="description">Description</label>
        <textarea class="form-control"
                  id="description"
                  rows="3"
                  formControlName="description"
                  [(ngModel)]="task.description"
        >
        </textarea>
        <small class="form-text text-muted">Input here description of task</small>
        <div *ngIf="_description.invalid && (_description.touched || _description.dirty)" class="alert alert-danger">
          <p *ngIf="_description.errors?.maxlength">The max length isn't valid</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-secondary"
      (click)="modalWindowService.closeModal()">
      Close
    </button>
    <button
      class="btn btn-success"
      [disabled]="taskForm.invalid"
      (click)="addTask(task)">
      Add task
    </button>
  </div>
</ng-template>
