<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7 col-12">
      <h2 class="my-3">Tasks table</h2>
      <div>
        <div class="container">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="pointer-cursor" (click)="sort(direction,parameters[0])">Task</th>
              <th scope="col" class="pointer-cursor" (click)="sort(direction,parameters[1])">Code</th>
              <th scope="col" class="pointer-cursor" (click)="sort(direction,parameters[2])">Status</th>
              <th scope="col" class="pointer-cursor" (click)="sort(direction,parameters[3])">Date of creation</th>
              <th scope="col" class="pointer-cursor" (click)="sort(direction,parameters[4])">Task creator</th>
              <th scope="col">More</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taskViewModel of taskViewModels;let i = index">
              <td>{{i + 1}}</td>
              <td>{{taskViewModel.taskName}}</td>
              <td>{{taskViewModel.taskCode}}</td>
              <td>{{taskViewModel.statusName}}</td>
              <td>{{taskViewModel.dateOfCreation | date}}</td>
              <td>{{taskViewModel.taskCreatorName}} {{taskViewModel.taskCreatorSurname}}</td>
              <td>
                <button
                  (click)="showTask(taskViewModel.idTask)"
                  class="btn btn-primary">
                  Show more
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="pagination justify-content-center">
            <pagination [boundaryLinks]="true"
                        [totalItems]="totalElements"
                        (pageChanged)="pageChanged($event)"
                        previousText="&lsaquo;"
                        nextText="&rsaquo;"
                        firstText="&laquo;"
                        lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-12">
      <h2 class="my-3">Task's data</h2>
      <div
        *ngIf="taskViewModel;else noTaskViewModel"
        class="row">
        <div class="col-6">
          <h3>Task name:</h3>
          <span class="h4 text-monospace">{{taskViewModel.taskName}}</span>
          <h3>Task code:</h3>
          <span class="h4 text-monospace">{{taskViewModel.taskCode}}</span>
          <h3>Status:</h3>
          <span class="h4 text-monospace">{{taskViewModel.statusName}}</span>
        </div>
        <div class="col-6">
          <h3>Date of creation:</h3>
          <span class="h4 text-monospace">{{taskViewModel.dateOfCreation | date}}</span>
          <h3>Task creator:</h3>
          <span class="h4 text-monospace">{{taskViewModel.taskCreatorSurname}} {{taskViewModel.taskCreatorName}}</span>
          <h3>Task executors:</h3>
          <ul *ngIf="taskExecutors.length">
          <li
            *ngFor="let executor of taskExecutors;let i = index"
            [value]="executor.idUser"
            class="h4 text-monospace">
            <a routerLinkActive="active" routerLink="">{{executor.surname}} {{executor.name}}</a>
          </li>
          </ul>
          <span *ngIf="!taskExecutors.length"><i>No executors!</i></span>
        </div>
      </div>
      <div
        *ngIf="taskViewModel"
        class="mt-2">
        <h3>Description:</h3>
        <p class="text-monospace">{{taskViewModel.description}}</p>
      </div>
      <div *ngIf="taskViewModel" class="mt-3">
        <span>
          <button class="btn btn-danger" (click)="deleteTask(taskViewModel.idTask)">Delete <i class="fa fa-trash-o"></i></button>
          <button class="btn btn-primary ml-3">Edit <i class="fa fa-edit"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>


<ng-template #noTaskViewModel>
  <h3><i>No selected task</i></h3>
</ng-template>
