<div class="container">
  <table class="table table-hover mt-5">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="pointer-cursor h4" (click)="sort(direction,parameter)">Name</th>
      <th scope="col" class="pointer-cursor h4" (click)="sort(direction,parameter)">Surname</th>
      <th scope="col" class="pointer-cursor h4" (click)="sort(direction,parameter)">Email</th>
      <th scope="col" class="h4">Roles</th>
      <th scope="col" class="h4">Settings <i class="fa fa-gear fa-spin"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users, let i = index">
      <td>{{i + 1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{getRoles(user.roles)}}</td>
      <td>
        <button class="btn btn-primary">Edit <i class="fa fa-edit"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination justify-content-center">
    <pagination [boundaryLinks]="true"
                [totalItems]="totalElements"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;">
    </pagination>
  </div>
</div>
