<div class="container-fluid">
  <div class="jumbotron">
    <h1>Railway station control system</h1>
    <p>System for controlling a railway station. Allows you to manage riders, schedules and trains.</p>
  </div>
  <carousel>
    <slide>
      <img
        src="assets/images/train1.jpg"
        alt="first slide"
        class="carousel-img">
      <div class="carousel-caption d-none d-md-block">
        <div class="row justify-content-md-center">
          <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-5">
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <img src="assets/images/train2.jpg" alt="second slide" class="carousel-img">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
    <slide>
      <img src="assets/images/train3.jpg" alt="third slide" class="carousel-img">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
    <slide>
      <img src="assets/images/train4.jpg" alt="third slide" class="carousel-img">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
  </carousel>

  <footer>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12">
        <div class="card m-5 scale">
          <img src="assets/images/train4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="card m-5 scale">
          <img src="assets/images/train2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="card m-5 scale">
          <img src="assets/images/train1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="Absolute-Center">
      <app-login-card
        [(email)]="email"
        [(password)]="password"
        (change)="login($event)"
        class="justify-content-center">
      </app-login-card>
</div>
